<div class="row">

 <%= image_tag('team.jpg') %>

 <% @team_members.each do |tm| %>
 <div class="col-md-4">
  <h3><%= tm.first_name %> <%= tm.last_name %></h3>
  <h4><%= tm.title %></h4>
  <p><%= tm.bio %></p>
</div>
<% end %>
