
<div class='bg1'></div>

<div id="holdingContainer">

  <div id="welcome" class="row">

    <div id="welcome-title" class="col-sm-12">

      <div class="center-block col-sm-8" style="margin:25px auto;float:none;">
        <h2>At Rebio it is our mission to reduce carbon emissions through economically viable re-purposing of agricultural waste into clean energy.</h2>
      </div>

    </div>

  </div>

  <div id="process" class="row">
    <%= render 'static_pages/process'%>
  </div>

  <div id="philosophy">
    <%= render 'static_pages/philosophy'%>
  </div>

  <div id="team">
    <%= render 'static_pages/team'%>
  </div>

  <div id="proof-of-concept-container">
    <%= render 'static_pages/location'%>
  </div>

</div>

<div id="faq-container">
  <%= render 'static_pages/faq'%>
</div>

