
<div class='bg1' id="bg1" data-type="background" data-speed="10" class="homeImage"></div>
<div class='bg2' id="bg2" data-type="background" data-speed="10" class="homeImage"></div>


<div id="holdingContainer container">

  <div class="block">
    <div class="block-copy" class="col-sm-12">
      <div class="center-block col-sm-8">
        <h2>At <span>ReBio</span> we <span>reduce carbon emissions</span> through the economically viable re-purposing of agricultural waste into clean energy.</h2>
      </div>
    </div>
  </div>

  <div id="process">
    <%= render 'static_pages/process'%>
  </div>

  <div class="block block2">
    <div class="block-copy" class="col-sm-12">
      <div class="center-block col-sm-8">
        <h2>Our energy system <span>reduces operating costs</span> and helps California meet carbon reduction standards.</h2>
      </div>
    </div>
  </div>

  <div id="philosophy" class="row">
    <%= render 'static_pages/philosophy'%>
  </div>

  <div class="block block3">
    <div class="block-copy" class="col-sm-12">
      <div class="center-block col-sm-8">
        <h2><span>We</span> follow the lifecycle <span>value</span> chain of <span>agricultural</span> waste.</h2>
      </div>
    </div>
  </div>

  <div id="team" class="row">
    <%= render 'static_pages/team'%>
  </div>

  <div class="block block4">
    <div class="block-copy" class="col-sm-12">
      <div class="center-block col-sm-8">
        <h2><span>We</span> convert agricultural waste into <span>clean energy</span>.</h2>
      </div>
    </div>
  </div>

  <div class="block5">
    <div class="block-copy" class="col-sm-12">
      
    </div>
  </div>

  <div id="proof-of-concept-container">
    <%= render 'static_pages/location'%>
  </div>

  <div class="block block6">
    <div class="block-copy" class="col-sm-12">
      
    </div>
  </div>

  <div id="faq-container" class="row">
    <%= render 'static_pages/faq'%>
  </div>

  <div class="block">
    <div class="block-copy" class="col-sm-12">
      <div class="center-block col-sm-8">
        <h2>I'm not sure what to say here yet!</h2>
      </div>
    </div>
  </div>

  <div id="contact" class="row">
  </div>



</div>

