
<div class='bg1' id="bg1" data-type="background" data-speed="10" class="homeImage"></div>


<div id="holdingContainer" class="container">

  <div class="block block1">
    <div class="block-copy" class="col-sm-12">
      <div class="center-block col-sm-10">
        <%if @hs.length > 0 %>
        <h2><%= @hs[0].phrase %></h2>
        <% end %>
      </div>
    </div>
  </div>

  <div class="block block2">
    <div class="block-copy" class="col-sm-12">
      <div class="center-block col-sm-10">
        <%if @hs.length > 0 %>
        <h2><%= @hs[1].phrase %></h2>
        <% end %>
      </div>
    </div>
  </div>

  <div id="process">
   <%= render 'static_pages/process'%>
  </div>

  

  <div class="block block3">
    <div class="block-copy" class="col-sm-12">
      <div class="center-block col-sm-10">
        <%if @hs.length > 0 %>
        <h2><%= @hs[2].phrase %></h2>
        <% end %>
      </div>
    </div>
  </div>
  </div>

  <div id="team">
    <%= render 'static_pages/team'%>
  </div>
</div>
