<!DOCTYPE html>
<html>
<head>
	<title>Rebioinc</title>

	<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/juery/1.18,"></script>
  <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic' rel='stylesheet' type='text/css'>
	
	<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
	<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
	<%= csrf_meta_tags %>
</head>
<body>
  <%= render 'shared/top_nav' %>
  <% if notice %>
  <p class="alert alert-notice"><%= notice %></p>
  <% end %>
  <% if alert %>
  <p class="alert alert-error"><%= alert %></p>
  <% end %>
  <%= yield %>

  
  <script>
  var editor = new wysihtml5.Editor("wysihtml5-textarea", { // id of textarea element
    toolbar:      "wysihtml5-toolbar", // id of toolbar element
    stylesheets:  "<%= stylesheet_path('wysiwyg') %>", // optional, css to style the editor's content
    parserRules:  wysihtml5ParserRules // defined in parser rules set
  });
  </script>
  <%= render 'shared/admin' %>
  
</body>
</html>
